# Ignore all new folders
*/*

# Except for the current existing ones
!*templates
!*templates/**
!*core
!*core/**
!*/data
!*data/**
!*generators
!*generators/**
!*menu
!*menu/**
!*utils
!*utils/**
!*parser
!*parser/**